#table {
  border-collapse: collapse;
}
#table th, #table tr, #table td {
  border: 1px solid black;
}
#table tr:nth-child(even) {
  background: #f2f2f2;
}
#table thead {
	background-color: yellow;
}
#table td {
  padding: 3px;
}
.invisible {
	display: none;
}